# Fundamentals

In [1]:
print("hello")

hello

In [2]:
x = 10 
x

10

In [3]:
print(type(x))

<class 'int'>

# Note
- Class is a collection of various methods/functions.
- In python int is also a function
- In c/c++ or java, int is not a class. Its a data type

In [4]:
p = True
p

True

In [5]:
print(type(p))

<class 'bool'>

# Check Size in Python

In [6]:
import sys
sys.getsizeof(x)

28

##### The above int size is 28 bytes, this size may vary and maynot be same everytime.

In [7]:
x = 15152125565

In [8]:
sys.getsizeof(x)

32

In [9]:
x = 10
y = 20
z = y/x
z

2.0

In [10]:
#here it ignores the fractional part(Floor division)
x = 10
y = 20
z = y//x
z

2

In [11]:
p = 10 
q = 3
r = p%q
r

1

# Taking user Input

In [12]:
x = input()

35

In [13]:
type(x) # It gives string as the type, so type cast it as below

str

In [19]:
x = int(input("Enter the Number:"))

Enter the Number:34

In [20]:
type(x)

int

In [16]:
y = float(input())

45

In [17]:
type(y)

float

In [21]:
y

45.0

In [22]:
x = 10
y = 20 
z = x < y
print(z)

True

#### == is comparison operator

In [24]:
x = 10
y = 20
z = 15

p = x<y and y<z
p

False

In [25]:
#This will give error
x =10
y = 20
z = (x<y) and (x = x+1)
z

SyntaxError: invalid syntax (<ipython-input-25-f7e82c00154e>, line 3)

In [2]:
#write a program to find the area of circle

import math
r = float(input("Enter the radius:"))
area = (math.pi)*(r**2)
print("Area is",area)

Enter the radius:12
Area is 452.3893421169302

In [5]:
#area of triangle
b =float(input("enter the base:"))
h = float(input("Enter the height:" ))

area = 0.5*b*h
print('Area is', area)

enter the base:12
Enter the height:10
Area is 60.0

In [6]:
print("Base is:",b,"height is:",h,"area is:",area)

Base is: 12.0 height is: 10.0 area is: 60.0

#### By default the separator is space, we can use any separator using sep, \n is to go to new line

In [7]:
print("Base is:",b,"height is:",h,"area is:",area, sep = "**")

Base is:**12.0**height is:**10.0**area is:**60.0

In [8]:
print("Base is:",b,"height is:",h,"area is:",area, sep = "\n")

Base is:
12.0
height is:
10.0
area is:
60.0

In [9]:
print("hello")
print("world")

hello
world

In [10]:
print("hello", end = " ")
print("world")

hello world

In [12]:
a = 5/3
a

1.6666666666666667

In [11]:
#here it displays only 2 decimal points
a =5/3
print("Value of a is:{0:0.2f}".format(a))

Value of a is:1.67

In [16]:
#here "{0:0.2f}"zero stands for a and here "{1:0.3}", 1 stands for b.
#format(a,b) here a is in 0th position and b is in 1st position.
a =5/3
b = 4/7
print("Value of a is {0:0.2f} and value of b is {1:0.3}".format(a,b))

Value of a is 1.67 and value of b is 0.571

In [17]:
max("hello world") #highest asscii

'w'

In [18]:
max(23,34,-6,66)

66

In [19]:
len("hello")

5

# if condition

In [2]:
x = int(input("Enter a number"))
if x<0:
    print("Its a negative number")
print("over")

Enter a number-2
Its a negative number
over

In [1]:
#if else condition

x = int(input("Enter the marks"))
if x < 40:
    print("Fail")
else :
    print("pass")

Enter the marks43
pass

In [6]:
#if and elif statement

marks = float(input("Enter the marks"))
if marks>80:
    print("FCD")
elif (marks >=60) and (marks <80):
    print ("First class")
elif (marks>=35) and (marks<60):
    print("pass")
else:
    print("fail")

Enter the marks79
First class

In [8]:
#Nested Statements
marks = float(input("enter the marks"))
if marks>=60:
    if marks<70:
        print("First Class") #marks is greater than 60 and less than 70.
    else:
        print("Distinction") #marks is greater than 60 and also greater than 70.

enter the marks71
Distinction

In [10]:
name = input("Enter your name: ")
print("Hello",name)

Enter your name:Ram
Hello Ram

In [13]:
#WAP to prompt the user for hours and rate per hour to compute gross pay 
hours = float(input("Enter the hours: "))
pay = float(input("enter the payment you get for an hr: "))
Gross_pay = hours * pay
print("Gross pay is",Gross_pay)

Enter the hours: 3
enter the payment you get for an hr: 23
Gross pay is 69.0

In [11]:
#celsius to fahrenheit
celsius = float ( input("Enter the temperature in celsius: )
f = celsius * (9/5) + 32
print("Fahrenheit temperature is", f)

Enter the temperature in celsius0
Fahrenheit temperature is 32.0

# Looping Structures

In [14]:
#While Loop

x = 0 
while x < 5:
    print(x)
    x= x+1
print ("Over")

0
1
2
3
4
Over

In [15]:
#Break statement is used to teminate the statement before meeting the condition that is given.
while True: #This means its a boolean and this condition is always true and will continue running infinte number of times.(needs break to end the loop)
    num = int(input("Enter the number: "))
    if num > 0 :
        print ("You have successfully entered a positve number")
        break

Enter the number: -1
Enter the number: 5
You have successfully entered a positve number

In [11]:
'''

Keep reading numbers till you enter a negatuve number. Finf the sum of all the positve numbers and display the sum

'''

Sum = 0
while True:
    num = int(input("Enter the number"))
    if num < 0 :
        print("you have entered a negative number")
        break
    Sum = Sum +num
print("sum of all +ve numbers is",Sum)

Enter the number12
Enter the number8
Enter the number-1
you have entered a negative number
sum of all +ve numbers is 20

# continue statement

In [14]:
# It will skip the further statements in the loop and continue with next iteration of the loop

n = 1 
while n<=5:
    x = int(input("Enter number: "))
    if x< 0:
        continue
    print("You have entered ",x)
    n = n+1

Enter number: 1
You have entered  1
Enter number: -2
Enter number: 2
You have entered  2
Enter number: 2
You have entered  2
Enter number: 3
You have entered  3
Enter number: 4
You have entered  4

# For Loop

In [ ]:
#Syntax of range function: range(start,end,stride)

## i can be a number or string. i takes the positional elements

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [18]:
for i in range(20,10,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [19]:
#Nested loop
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

# User Defined Functions

In [23]:
def fname():
    print("Function to say hello")
    print("HELLO")
    
print("Illustration of user defined functions")
fname() #Function calling
print("over")
print("-"*10)
fname()

Illustration of user defined functions
Function to say hello
HELLO
over
----------
Function to say hello
HELLO

In [24]:
def test(var):
    print("Inside test()")
    print("Argument is", var)
    
print("Example of function with arguments ")
x = "hello"
test(x)
y = 20
test(y)
print("Over")

Example of function with arguments
Inside test()
Argument is hello
Inside test()
Argument is 20
Over

In [25]:
def test(var):
    print("Inside test()")
    print("Argument is", var)
    
print("Example of function with arguments ")
x = "hello"
test(x*3)
y = 20
test(y*3)
print("Over")

Example of function with arguments
Inside test()
Argument is hellohellohello
Inside test()
Argument is 60
Over

In [21]:
#Function with return value

def product(m,n):
    p = m*n;
    return p 

x = int(input("Enter the 1st number"))
y = int(input("Enter the 2nd number"))

pr = product(x,y) # Always LHS will hold the value that was returned after the fuction execution
print(pr)

Enter the 1st number3
Enter the 2nd number4
12

# Multiple Assignment

In [26]:
x,y,z =10,"hello",7.7
print(x)
print(y)
print(z)

10
hello
7.7

# Recursive function

In [29]:
# it should have atleast one exit condition otherwise it would run infinite number of times

def f(m):
    
    if m==0:    # Exit condition for the recursive function
        return(1)
    else:
        return(m*f(m-1))
    
    
n = int(input("Enter a non negative integer: "))

if n<0:
    print("Invalid input!!")
else:
    fact = f(n)
    print("factorial of", n , "is" , fact)

Enter a non negative integer: 5
factorial of 5 is 120

## A positive integer m is a sum of squares if it can be written as k+p where k>0, p>0 and both kand p are perfect squares.

## (1) Write a Python function sumofsquares(m) that takes an integer m and returns True if m is a sum of squares and False otherwise.( If m is not positive, your function should return False)

## Sample Output

- sumofsquares(41) returns True
- sumofsquares(30) returns False

In [252]:
def sumofsquares(m):
    for k in range(1,m):
            for p in range(1,m):
                if((k**2+p**2)== m):
                    return True
    return False
                   

n = int(input("Enter the number "))

if n < 0:
    print("False")
else:
    square = sumofsquares(n)
    print("sum of squares", n , "is" , square)

Enter the number 82
sum of squares 82 is True

In [260]:
# lectures Code
import math
def sumofsquares(m):
    r = math.floor(math.sqrt(m))  #its done because if a number is equal to sum of square of 2 numbers, then 
                                #the 2 numbers will be less than square root of the number. math.floor will make it an integer
    for k in range(1,r+1):
            for p in range(r,0,-1):
                if k**2+p**2== m:
                    return True
    return False
                   

n = int(input("Enter the number "))
print(sumofsquares(n))

Enter the number 25
True

# Strings
- String is a collection of characters enclosed within single quotes or double quotes.
- Strings are immutable - cannot be modified

In [15]:
s = "hello"
print(type(s))

<class 'str'>

In [16]:
s[1]

'e'

In [17]:
len(s)

5

In [18]:
s[1]="d" #Strings are immutable - cannot be modified. It gives error

TypeError: 'str' object does not support item assignment

In [22]:
#Negative indexing - starts from the end of the string
# Last character is indxed as -1
var = "Hello"
print(var[-1])
print(var[-4])

o
e

# String Slicing

In [23]:
st = "Hello World"
print("st[0:5] is",st[0:5])
print("st[:4] is",st[:4])
print("st[3:8] is",st[3:8])
print("st[7:] is",st[7:])
print("st[4:4] is ",st[4:4])
print("st[:] is",st[:])

st[0:5] is Hello
st[:4] is Hell
st[3:8] is lo Wo
st[7:] is orld
st[4:4] is
st[:] is Hello World

In [35]:
s = "Hello how are you?"
print(s[1::3]) #print "e" then print again after 3 positions ie "o"

eooa u

In [37]:
st = "Hello World"
print(st[::-1])

dlroW olleH

In [27]:
#replace the l at 3 with t
st = "Hello World"
st1 = st[:3]+"t"+st[4:]
st1

'Helto World'

# Built in Method of Strings
- len(s)
- capitalize(s)
- s.upper()
- s.lower()
- s.find()
- s.startswith()
- s.count()

In [28]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# Len is not a function of string. we dont use string name.len()

In [29]:
# ?str.swapcase is used to get the details of the funtions

In [30]:
str.capitalize("hello world")

'Hello world'

In [32]:
str.capitalize("hello WORld")

'Hello world'

In [58]:
st = "Hello WORld"
st1 = st.upper()
print(st1)

HELLO WORLD

In [53]:
?st.partition

In [1]:
# find() function
# it will print the first occurence

st = "hello world"
print(st.find("o"))

4

In [2]:
#displays the position where "ar" are together

st = "Hello how are you?"
i = st.find('ar')
print(i)

10

In [3]:
# if the element is not found it will display -1

st = "Hello how are you?"
i = st.find('x')
print(i)

-1

In [4]:
# find() within range

st = "calender of Feb. cal of march"
i = st.find("cal",10,20) # starting position is 10 and ending position is 19
print(i)

17

In [8]:
i = st.find("cal",10,19)  # starting position is 10 and ending position is 18
print(i)

-1

In [7]:
i = st.find("cal",10,15) # starting position is 10 and ending position is 14
print(i) # cant find so the ans will be -1.

-1

In [10]:
st[-1] # just for accessing the last position. (Note: -1 wont be displayed to show the last position charater)

'h'

In [11]:
# strip() USED TO REMOVE EXTRA CHARACTERS AT THE BEGINNING AND THE END OF THE STRING

st = "     hello world    "
print(st)
st1 = st.strip() #by default there will be space
print(st1)

     hello world
hello world

In [16]:
st = "$$$$#$#hello how are you##$#$#"
st1 = st.strip("$")
print(st1)
st2 = st.strip("$#h")
print(st2)

#$#hello how are you##$#$#
ello how are you

# Doesnt work

In [15]:
st = "$$$$#$#hello how are you##$#$#"
st1 = st.strip(("$" and "#"))
print(st1)

$$$$#$#hello how are you##$#$

#### lstrip and rstrip search

In [4]:
# s.startswith()(prefix,[,start[,end]])
# return True if ths starts with the specified prefix
# False otherwise
# with optional start, test s beginning at that position
# with optional end, stop comparing s at that position

st = " hellow world"
st.startswith("e")

False

In [5]:
st.startswith("world",7)

False

In [6]:
st.startswith("world",8)

True

In [7]:
st = "xyz abc pqr av mn gh"
st.startswith("pqr av mn",8,12)

False

In [8]:
st.startswith("pqr av mn",8,18)

True

In [23]:
st = "Hello world"
st.startswith("He")

True

### IMPORTANT ( CASE SENSITIVE  AND TAKES ASCII VALUE)

In [24]:
st = "Hello world"
st.startswith("he")

False

### Used alternatively

In [25]:
st = "Hello world"
st.lower().startswith("he")

True

In [32]:
st = " ###$Hello world"
st.lower().strip(" #$").startswith("he")

True

In [33]:
#error because startswith("he") gives Boolean (True or False)
st = " ###$Hello world"
st.startswith("he").lower()

AttributeError: 'bool' object has no attribute 'lower'

In [29]:
#count() - Finds Frequency of substrings inside a string

st = "hello how are you? how abot you"
st.count("how")

2

In [30]:
st.count("how",3,10)

1

# 1 . Program to identify if a word is a palindrome

In [62]:
word = input("enter a word ")
#print(word)
#print(word[::-1])
if (word == word[::-1]):
    print("word is palindrome")
else:
    print("not palindrome")

enter a word madam
word is palindrome

## 1. Program to identify which words that are palindrome in a given string

In [122]:
word = input("enter a word ")
s = word.split(" ") # Splits the word at where space is given and makes a list or words.
print(s) #prints the list of words
for i in range(len(s)):
    if (s[i]== s[i][::-1]):
        print(s[i])
        print("word is palindrome")
        print("-"*10)
    else:
        print(s[i])
        print("word not palindrome")
        print("-"*10)

enter a word hello madam
['hello', 'madam']
hello
word not palindrome
----------
madam
word is palindrome
----------

In [120]:
#Second method
word = input("enter a word ")
s = word.split(" ")# Splits the word at where space is given and makes a list or words.
print(s) #prints the list of words
for i in s:
        if (i== i[::-1]):
            print(i)
            print("word is palindrome")
            print("-"*10)
        else:
            print(i)
            print("word not palindrome")
            print("-"*10)

enter a word hello madam
['hello', 'madam']
hello
word not palindrome
----------
madam
word is palindrome
----------

In [261]:
word = input("enter a word ")
for i in word.split():
    if (i== i[::-1]):
        print(i)
        print("word is palindrome")
        print("-"*10)
    else:
        print(i)
        print("word not palindrome")
        print("-"*10)

enter a word hello madam
hello
word not palindrome
----------
madam
word is palindrome
----------

In [109]:
len("hello world")

11

## 2. Program to get a string made of first 2 and last 2 characters from a given string

In [267]:
strg = input("Enter a string: ")
length = len(strg) # Finds the length of the string
if length <=2:
    print(strg)
else:
    new_strg = strg[:2]+strg[-2:]
    print(new_strg)

Enter a string: abc
abbc

In [134]:
#Second method
strg = input("Enter a string: ")
length = len(strg) # Finds the length of the string
if length > 2:
    new_strg = strg[:2]+strg[-2:]
    print(new_strg)
else:
    print(strg)

Enter a string: hello hi
hehi

In [269]:
# Lectures code
strg = input("Enter a string: ")
if len(strg) <=2:
      print(strg)
else:
    print(strg[:2]+strg[-2:])

Enter a string: hello world
held

## 3. Program to return a string without spaces

In [132]:
s= "Hello how are you"
s.replace(" ","") # Replace space with no space.

'Hellohowareyou'

In [265]:
#Second method
s= "Hello how are you"
leng = len(s)
for i in range(leng):
    if(s[i]!=" "):  # if s[i] is not equal to space, then print s[i]. ie. prints all characters expect space.
        print(s[i],end="") #by default end will be equal to next line. So change end = ""

Hellohowareyou

In [242]:
# Using a function
def remove_space(s):
    leng = len(s)
    for i in range(leng):
        if(s[i]!=" "):  # if s[i] is not equal to space, then print s[i]. ie. prints all characters expect space. 
            x = s[i]
            print(s[i],end="")
a= "Hello how are you"
remove_space(a)

Hellohowareyou

## 4. Program to characters which have odd index value

In [143]:
s = input("Enter a string: ")
length = len(s)
for i in range(length):
    if(i%2==0):
        print(s[i],end='') #by default end will be equal to next line. So change end = ""

Enter a string: hello
hlo

In [270]:
#Lectures Code
s = input("Enter a string: ")
s1 = s[0::2]
print(s1)

Enter a string: hello
hlo

## 5. Program to change a given string to new string where 1st and last char is exchanged

In [33]:
s = input("Enter a string")
new_s = s[-1]+s[1:-1]+s[0]
print(new_s)

Enter a stringhello
oellh

## 1. Program to add "ing" and if the string has "ing" then add "ly"

In [174]:
s = input("Enter the String: ")
length = len(s)
if length<3:
    print(s)
elif(s[-3:] == "ing"):
    print(s+"ly")
else:
    print(s+"ing")

Enter the String: hello
helloing

## 2. Program to find "not" and "poor" from a string and return the whole "not"...."poor" with "good"

In [22]:
s = input("Enter the string: ")
nots=s.find("not")
poors = s.find("poor")
if(nots < poors):
    news = s[:nots]+"good"+s[poors+4:]
    print(news)

Enter the string: hey not huh hjn hje poor bj
4
20
hey good bj

## Program: Consider a string in the following format and extract only the domain name. "From chetanahegde@ieee.org Wed Feb 21 09:14:16 2018"

In [272]:
st = "From chetanahegde@ieee.org Wed Feb 21 09:14:16 2018"
atpos = st.find("@")
print("Position of @ is",atpos)
spacepos = st.find(" ",atpos)
print("Position of space after @ is",spacepos)
domain = st[atpos+1:spacepos]
print(domain)

Position of @ is 17
Position of space after @ is 26
ieee.org

# <font color = "red"> List </font>
- List is a data structure in python.
- List are mutable(ie. values can be changed) and strings are imutable(ie. values cannot be changed)

In [84]:
ls1 = []  #empty list

In [85]:
print(type(ls1))

<class 'list'>

In [86]:
ls2 = [10,20,-4,12]
print(ls2)
print("type is: ", type(ls2))

[10, 20, -4, 12]
type is:  <class 'list'>

In [87]:
ls3 = [3.5, 4, "hi", [10,"hello"]]
print(ls3) #print whole list

[3.5, 4, 'hi', [10, 'hello']]

In [88]:
print(ls3[0]) #print 1st element of a list

3.5

In [89]:
print(ls3[2]) #print 3rd element

hi

In [92]:
print(ls3[3]) #print 4th element

[10, 'hello']

In [94]:
print(ls3[3][0]) #prints the 1st element of inner list

10

In [95]:
print(ls3[3][1]) #prints the 2st element of inner list

hello

In [98]:
print(ls3[3][1][0]) #prints the 1st character of the string "hello" of inner list

h

In [99]:
ls = list(range(1,11))
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
ls = list(range(1,20,2))
print(ls)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### <font color = "red">** Read a list of numbers **</font>

In [1]:
s = input()
ls = [int(x) for x in (s.split())]
print(ls)

2 2 2 3 3
[2, 2, 2, 3, 3]

In [18]:
# OR
x = input()
y = []
for i in x.split():
    y.append(int(i))
print(y)

2 2 2 3 3
[2, 2, 2, 3, 3]

## Some example programs

In [102]:
#Concatenation of lists using +

ls1= [1,2,-4,3.4]
ls2 = [ "hi",1.3]
ls3 = ls1+ls2
print(ls3)

[1, 2, -4, 3.4, 'hi', 1.3]

In [103]:
# Repetition using *

ls = [1,2,3]
ls1 = ls*3
print(ls1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [121]:
x= int(input("Enter a number: "))
ls = []  #Empty list
for i in range(1,11):
    ls = ls+[x*i]
print(ls)

Enter a number: 5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [216]:
x= int(input("Enter a number: "))
ls = []  #Empty list
for i in range(1,11):
    ls = ls + x*i #Should be a list and written as [x*i]
    print(ls)

Enter a number: 5

TypeError: can only concatenate list (not "int") to list

In [123]:
# Lists are mutable
t = ["a","b","c","d","e"]
t[3] = 10
print(t)

['a', 'b', 'c', 10, 'e']

In [129]:
t = ["a","b","c","d","e"]
t[1:3] = [10,20]
print(t)

['a', 10, 20, 'd', 'e']

In [130]:
t = ["a","b","c","d","e"]
t[1:4] = [10,20]
print(t)

['a', 10, 20, 'e']

# For loop for lists

In [155]:
ls = [23,-3,"hi",98]
for i in ls: #  here "i" takes the positional elements 
    print(i)

23
-3
hi
98

In [154]:
ls = [23,-3,"hi",98]
for i in range(len(ls)):  # here the loop will be for i in [0,1,2,3]
    print(ls[i])   # if we print(i) = it will give value 0,1,2,3

23
-3
hi
98

# <font color='red'>List operations (IMPORTANT)</font>

## List functions

In [182]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### append()

In [156]:
ls = [1,2,3]  # here ls is object name or variable name.
x = ls.append(4) # will be modified and new number would be added since lists are mutable ie. values can be changed
print(ls) 
print(x) #will return none s

[1, 2, 3, 4]
None

In [165]:
ls = [1,2,3]
ls = ls.append(4) # wrong way gives wrong value.(reason explained above)
print(ls)

None

In [166]:
ls = [1,2,3]
x = ls.append([4]) #here we added square bracket so it will consider the single element as a separate list
print(ls)

[1, 2, 3, [4]]

In [167]:
ls = [1,2,3]
x = ls.append([4,5]) # here the values would be added as a separate list
print(ls)

[1, 2, 3, [4, 5]]

In [168]:
ls1 = [1,2,3]
ls2 = [4,5]
ls2.append(ls1) # here the values would be added as a separate list
print(ls2)

[4, 5, [1, 2, 3]]

In [171]:
ls1 = [1,2,3]
ls2 = [4,5]
ls1.append(ls2) # here the values would be added as a separate list
print(ls1)

[1, 2, 3, [4, 5]]

### extend()

In [204]:

ls1 = [1,2,3]
ls2 = [4,5]
ls2.extend(ls1) # here every single element will be added separately and not as a separate list like append function
print(ls2)

[4, 5, 1, 2, 3]

### sort()
- Will modify the original list

In [176]:
#sorting a list in ascending order
ls=[-1,3,5,2,6,18]
ls.sort() #by default it will be sorted in ascending order
print(ls)

[-1, 2, 3, 5, 6, 18]

In [177]:
#sorting a list in ascending order
ls=[-1,3,5,2,6,18]
ls.sort(reverse=True) # reverse is true means it will sort in descending order
print(ls)

[18, 6, 5, 3, 2, -1]

### sorted()
- Will sort without modifying the original list. So need to be assigned to a new variable

In [178]:
ls=[-1,3,5,2,6,18]
ls1 = sorted(ls)
print("Sorted list is: ", ls1)
print("Original list is: ",ls)

Sorted list is:  [-1, 2, 3, 5, 6, 18]
Original list is:  [-1, 3, 5, 2, 6, 18]

In [179]:
ls2 = sorted(ls,reverse=True)
print("Ascending order list is: ", ls1)
print("Original list is: ",ls)
print("Descending order: ", ls2)

Ascending order list is:  [-1, 2, 3, 5, 6, 18]
Original list is:  [-1, 3, 5, 2, 6, 18]
Descending order:  [18, 6, 5, 3, 2, -1]

### reverse() 
- Will reverse the list and modify the original list

In [181]:
ls=[-1,3,5,2,6,18] 
ls.reverse() # will reverse the list and modify the original list
print(ls)

[18, 6, 2, 5, 3, -1]

### pop()
- Deleting elements from the list based on index

In [184]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
x = ls.pop() # Last element will be popped out by default. Here we can store the popped value but cannot do this in del function
print(x)
print(ls)

5
[1, 2, 3, 10, 2, -2, 5, 2, 'hi', 3.4]

In [185]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
x = ls.pop(3) # given indexed element will be popped out
print(x)
print(ls)

10
[1, 2, 3, 2, -2, 5, 2, 'hi', 3.4, 5]

### remove()
- Delete a required element using remove(). Here elements wont be deleted from the list based on the index value

In [58]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
ls.remove("hi")
print(ls)

[1, 2, 3, 10, 2, -2, 5, 2, 3.4, 5]

In [191]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
ls.remove(10)
print(ls)

[1, 2, 3, 2, -2, 5, 2, 'hi', 3.4, 5]

### del
- Deleting more than one element using keword del

In [192]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
del ls[2]  #ls[2] that is the 3rd elememt is deleted
print(ls)

[1, 2, 10, 2, -2, 5, 2, 'hi', 3.4, 5]

In [193]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
del ls[1:5]  #1st elememt to 4th element is deleted
print(ls)

[1, -2, 5, 2, 'hi', 3.4, 5]

### clear()
- Clear all elements from the list

In [194]:
ls = [1,2,3,10,2,-2,5,2,"hi",3.4,5]
ls.clear()
print(ls)

[]

### count()
- counting the occurances of element

In [11]:
ls = [1,2,4,2,3,3,6]
x = ls.count(2)
print(x)

2

In [17]:
ls.count(6)

1

### insert()
- inserting single element at a required position

In [206]:
ls = [1,2,4,2,3,3,6]
ls.insert(2,35)  # ls.insert(2,35) means, here 2 is index and 35 will be inserted in index 2
print(ls)

[1, 2, 35, 4, 2, 3, 3, 6]

### list()
- convert string to list

In [207]:
#converting a string into lost of characters
s = "hello"
ls = list(s)
print(ls)

['h', 'e', 'l', 'l', 'o']

### split()
- getting list of strings from a sentence
- by default it takes space

In [208]:
s = "hello how are you"
ls =s.split(" ")
print(ls)

['hello', 'how', 'are', 'you']

In [210]:
s = "hello how are you"
ls =s.split("e")
print(ls)

['h', 'llo how ar', ' you']

In [211]:
s = "hello how are you"
ls =s.split(e) # invalid, should be within single or double quotes
print(ls)

NameError: name 'e' is not defined

In [213]:
# Example splitting date
d = "06/02/2019"
ls =d.split("/")
print(ls)

['06', '02', '2019']

In [214]:
ls = ["hello", "how ", "are"]
s = " " #s will join
s.join(ls)

'hello how  are'

In [215]:
ls = ["hello", "how ", "are"]
s = "h"
s.join(ls)

'hellohhow hare'

# Find output

In [285]:
def mystery(s):
    for i in range(len(s),1,-2):
        s = s[1:]+s[0]
    return (s)
mstring = "siruseri"
mystery(mstring)
#print(mstring)

'serisiru'

# Program:

## Program to reverse a list n number of times.

In [1]:
def rotatelist(ls,k):
    rs = ls.copy()
    if k<0:
        print("The list is:",ls)
    else:
        for i in range(k):
            rs= [rs[-1]]+rs[0:-1]
        print("Original list is",ls)
        print("Reveresd list is",rs)
ls = [1,2,3,4,5]
n = int(input("Enter a +ve number: "))
rotatelist(ls,n)

Enter a +ve number: 4
Original list is [1, 2, 3, 4, 5]
Reveresd list is [2, 3, 4, 5, 1]

In [32]:
# Using return 
def rotatelist(ls,k):
    rs = ls.copy()
    if k<0:
        return ls
    else:
        for i in range(k):
            rs= [rs[-1]]+rs[0:-1]
        print("Original", ls)
        return rs
    
ls = [1,2,3,4,5]
n = int(input("Enter a +ve number: "))
print("The list is:",rotatelist(ls,n))

Enter a +ve number: 2
Original [1, 2, 3, 4, 5]
The list is: [4, 5, 1, 2, 3]

## Program to define python function which returns true if each element in the input list is at as big as the one before it.

In [21]:
def ascending(ls):
    leng = len(ls)
    if leng == 0:
        return True
    else:
        for i in range(leng):
            if(ls[i] == ls[i+1]):
                return True
            else:
                return False
a = [int(x) for x in input().split()]
print(a)
ascending(a)

[]

True

In [23]:
# Try

def alternating(ls):
    leng = len(ls)
    if leng == 0:
        return True
    else:
        for i in range(leng):
            for j in range(leng):
                if(ls[i] == ls[j]):
                    return True
            return False
a = [int(x) for x in input().split()]
print(a)
ascending(a)

1 3 2 3 1
[1, 3, 2, 3, 1]

False

# <font color='red'>Demonstrations of Simple Tuples</font>
- Values enclosed within paranthesis

In [286]:
t =() # creating empty tuple
print(type(t))

<class 'tuple'>

In [288]:
t1 = tuple()  # creating empty tuple
print(type(t1))

<class 'tuple'>

In [289]:
t = (12,32,-5)
print(t)

(12, 32, -5)

In [290]:
t = (23,"hi",3.4,12)
print(t)

(23, 'hi', 3.4, 12)

### <font color='red'>Tuples Important(create a tuple with one element)</font>

In [291]:
# create a tuple with single elemnet
t=(3)
print(type(t))  #WILL BE TREATED AS INTEGER

<class 'int'>

In [292]:
# create a tuple with single elemnet
t=(3,)    #COMMA IS MUST
print(type(t))

<class 'tuple'>

In [293]:
# paranthesis is not mandatory
t = 1,2,3
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3)

In [296]:
# creating tuples using string
s = "hello"
t = tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [298]:
# creating a tuple using a list
ls = [1,2,3,"hi",6.7]
t = tuple(ls)
print(t)

(1, 2, 3, 'hi', 6.7)

In [299]:
# creating a tuple from another tuple
t1 = 23,78,32
print("t1 is ",t1)
print("ID is: ",id(t1))
t2 = tuple(t1)
print("t2 is ",t2)
print("ID is: ",id(t2))  #creates just a reference to existing obect

t1 is  (23, 78, 32)
ID is:  1008910940272
t2 is  (23, 78, 32)
ID is:  1008910940272

In [300]:
# Indexing and slicing on tuples
t = "Mango","banana","Apple"  #its a tuple
print(t[1])

banana

In [301]:
print(t[1:])

('banana', 'Apple')

In [302]:
print(t[-1])

Apple

In [ ]:
# As tuples are immutable, one cannot alter its contents
# Instead, we can slice and create new tuple
t = ("Mango","banana","Apple")
t[0]= "papaya"  # error
print(t)

### Assignment on Tuples

In [304]:
x,y = 10,20  #x,y is a tuple
print(x)
print(y)

10
20

In [306]:
# Assignment list to tuple
ls = [3,4]
x,y = ls
print(x)
print(y)

3
4

In [307]:
# Swapping of two numbers
a =10
b =20 
a,b = b,a
print(a, b)

20 10

In [308]:
# Excess value assignment
x,y = 10,20,30 # error

ValueError: too many values to unpack (expected 2)

In [309]:
# Less number f values
x,y,z = 10,20 #error

ValueError: not enough values to unpack (expected 3, got 2)

In [310]:
# Extract User Name and domain name from email ID

email = "chetanahegde@ieee.org"
username,domainName = email.split("@")
print("User name: ",username )
print("DomainName: ",domainName)

User name:  chetanahegde
DomainName:  ieee.org

# Additional operations on List

In [315]:
ls = [i for i in range(10)]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [311]:
ls = [i for i in range(10) if i%2==0]
print(ls)

[0, 2, 4, 6, 8]

In [314]:
# More eloberative manner
ls=[]
for i in range(6):
    ls.append(i)
print(ls)

[0, 1, 2, 3, 4, 5]

# Find Output

In [319]:
triples = [(x,y,z) for x in range(1,4) for y in range(x,4) for z in range(y,4) if x+y <=z]
print(triples)

[(1, 1, 2), (1, 1, 3), (1, 2, 3)]

# <font color='red'>Dictionary</font>
- Keys should be unique.
- Keys are immutable(number or string or tuple)
- Value can be mutable or immutable but keys are always mutable.
- Dictonary us a <font color='red'>HASHABLE</font> data Type. Here data will be stored based on some hash function. So index cannot be used to search. Ex: d[0] cannot be used.

In [24]:
# Create empty dictionary
d ={}
print(type(d))

<class 'dict'>

In [25]:
d = dict()
print(type(d))

<class 'dict'>

In [26]:
#create empty dictionary and add items to it
d ={}
d["mango"]="Fruit"
d["Banana"] = "Fruit"
d["Cucumber"] = "Veg"
print(d)

{'mango': 'Fruit', 'Banana': 'Fruit', 'Cucumber': 'Veg'}

In [28]:
d["Banana"] = 15 # Value of banana will be replaced with 15, since values are mutable.
print(d)

{'mango': 'Fruit', 'Banana': 15, 'Cucumber': 'Veg'}

In [29]:
# Key should be unique otherwise it will overwrite

d= {}
d["Fruit"]="Mango"    # Initiall this will run
d["Fruit"]="Banana"   # then it will be overwritten since Key word is same
d["Veg"]= "Cucumber"
print(d)

{'Fruit': 'Banana', 'Veg': 'Cucumber'}

In [31]:
# Create dictionary with some values and then update it with extra values
# dictionary is mutable

tel_dir = {"Tom":3491,"Jerry": 3732}
print(tel_dir)
tel_dir["Donald"]=7383
print(tel_dir)

{'Tom': 3491, 'Jerry': 3732}
{'Tom': 3491, 'Jerry': 3732, 'Donald': 7383}

In [32]:
print("telephone number of Tom is:",tel_dir["Tom"])

telephone number of Tom is: 3491

In [36]:
# Checking whether a key is there in dictionary or not

tel_dir = {"Tom":3491,"Jerry": 3732,"Donald":4793}
"Jerry" in tel_dir

True

In [37]:
"Hello" in tel_dir # Search whether its there or not

False

### key() , value()

In [39]:
# Extract the Keys
tel_dir = {"Tom":3491,"Jerry": 3732,"Donald":4793}
tel_dir.keys()

dict_keys(['Tom', 'Jerry', 'Donald'])

### <font color = "red" > In above example the output is not a list. It has some variable dict_keys. So we have to convert it to list if needed </font>

In [41]:
list(tel_dir.keys()) # list

['Tom', 'Jerry', 'Donald']

In [42]:
tel_dir.values() # Extract the values

dict_values([3491, 3732, 4793])

In [43]:
list(tel_dir.values())

[3491, 3732, 4793]

In [45]:
# Search anything in string
"el" in "hello"

True

### get()

In [47]:
# Using get() function
# Refer notebook for internal operation

students = {"tom": 45,"Jerry" : 23,"donald": 34}
print(students.get("Jerry",0)) # SINCE "Jerry" is there in dictionary, respective value of Jerry will be displayed
print(students.get("Micky",0)) # Will display Zero
print(students.get("Mick", "Not found")) # will display "Not Found"

23
0
Not found

In [50]:
# Internal operation of get()

if "Jerry" in students.keys():
    print(students["Jerry"])
else:
    print(0)

23

In [49]:
print(students.get("jerry",0)) # Case Sensitive

0

## Program to count the each character in a string.

In [74]:
'''
Write a progtram to read a string. Count the number of occurrences of each character in the string. Use dictionary.
Example: input string is "hello"
Then output must be {"h":1,"e":1,"l":2,"o"=1}

'''

strg = input("Enter a string: ")
d = {}
for i in strg:
    d[i]= strg.count(i)   #here "l" will be counted and execute 3 times but it will give the same value. It will keep altering the dictonary but since keys are immutable,the same value will be replaced again. 
print(d)

Enter a string: hello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [75]:
# Lecturers Code
d = {}
strg = input("Enter a string: ")
for i in strg:
    d[i] = d.get(i,0)+1 
print("Final Dictionary: ",d)

'''
Here first i value will be "h", since "h" is not present value of d.get("h",0) will be 0. Therefore d["h"] = 0+1=1. Hence "h" 
will be one and so on. 
For the second "l", d.get("l",0) will give 1, Therefore d["l"]=1+1=2 . Hence d["l"] will be replaced by 2.

'''

Enter a string: hello
Final Dictionary:  {'h': 1, 'e': 1, 'l': 2, 'o': 1}

### items()
#### Using dictionaries and tuples

In [77]:
# Using items() on dictionaries

tel_dir = {"Tom": 3491, "Jerry": 8135, "Mickey": 1253}
tel_dir.items()

dict_items([('Tom', 3491), ('Jerry', 8135), ('Mickey', 1253)])

In [79]:
# Converting into lists
ls = list(tel_dir.items())
ls

[('Tom', 3491), ('Jerry', 8135), ('Mickey', 1253)]

In [80]:
# Since they are in tuple format we can access like

for k,v in tel_dir.items():  # Here k,v are tuples so since tel_dir.items() are in tuple format we can use this to access them.
    print(k,v)

Tom 3491
Jerry 8135
Mickey 1253

In [82]:

for k,v in tel_dir.items():  
    print("Keys are:",k," Values are:",v)

Keys are: Tom  Values are: 3491
Keys are: Jerry  Values are: 8135
Keys are: Mickey  Values are: 1253

In [86]:
# revert back or keep a copy of it using tel_dir.copy()
d1={}
for k,v in tel_dir.items(): 
    print(k,v)
    d1[k] = v
print(d1)

Tom 3491
Jerry 8135
Mickey 1253
{'Tom': 3491, 'Jerry': 8135, 'Mickey': 1253}

In [87]:
d1 = tel_dir.copy()
print(d1)

{'Tom': 3491, 'Jerry': 8135, 'Mickey': 1253}

In [24]:
#Output in Week Two
'''
Read a sentence.
Count the length of each word in that sentence.
Display all the words in the descending order of their length in the form of list.

INPUT: "India is a great country. Karnataka is one of the states in India"

Expected output:

["Karnataka", "country.", "states", "India", "great", "one".... ]

'''

sen = input("Enter a sentence: ")
ls = sen.split(" ")
ls
for word in ls:
    for letter in ls:
        print(letter,end=" ")

Enter a sentence: hello hey
hello hey hello hey

### <font color = 'orange'> Doselect Assignments(PRACTICE) </font>

In [50]:

N = int(input())
for i in range(N):
    word = input()
    leng = len(word)
    print(leng)

3
hello
6
how
4

0

In [14]:

X = input()
N = int(input())
N1=[]
for word in range(N):
    word = input()
    N1.append(word)
for i in range(N):
    if(X==N1[i]):
        print("True")
        break
    else:
        print("False")

bug
3
he
hello
bug
False
False
True

In [64]:
def find(X,N):
    for word in range(N):
        word = input()
        N1.append(word)
    
    for i in range(N):
        if (X==N1[i]):
            return True
    return False
X = input()
N = int(input())
N1=[]
find(X,N)

bug
3
hig
htr
dagy

False

In [3]:
N = int(input())
c1=[]
c2 = []
for i in range(N):
    c= input()
    c1.append(c)
for j in c1:
    c2.append(len(j))
print(max(c2))

3
who
is
largest
7

In [16]:
def findx(X,N):
    for word in range(N):
        word = input()
        N1.append(word)
    
    for i in range(N):
        if (X==N1[i]):
            return True
    return False
X = input()
N = int(input())
N1=[]
findx(X,N)

bug
3
bug
ok
sjakja

True

In [2]:
A = []
x = input()
N = int(input())
i = 0
while(N!=0):
    y = input()
    A.append(y)
    N = N-1
while(i<len(A)):
    if(A[i]==x):
        print("True")
        break
    i = i+1
else:
    print("False")

bug
3
sjadns
sdjs
bug
True

In [3]:
A = []
x = input()
N = int(input())
i = 0
while(N!=0):
    y = input()
    A.append(y)
    N = N-1
if not A:
    print("False")
else:
    print("True")

bug
3
njn
njnn
njnnju
True

In [1]:
A = []
x = input()
N = int(input())
c = 0
while(N!=0):
    y = input()
    A.append(y)
    N = N-1
for i in range(len(A)):
    if(A[i]==x):
        c = c+1
    else:
        c= 0
if(c == 0):
    print("False")
else:
    print("True")

bug
3
dsa
bug
swas
False

In [6]:
# Pattern Print
T = int(input())
while(True):
    if ((T>=1) & (T<=15)):
        for i in range(T):
            n = int(input())
            while(True):
                if ((n>=1) &(n<=8)):
                    for i in range(1,n+1):
                        x = int("1"*i)
                        print(" "*((n)-i),x**2)
                    print("\r")
                    break
                else:
                    n = int(input())
        break          
    else:
        T = int(input())

3
4
    1
   121
  12321
 1234321

2
  1
 121

5
     1
    121
   12321
  1234321
 123454321

In [5]:
# Pattern Print(OR)
T = int(input())
if ((T>=1) & (T<=15)):
    for i in range(T):
        n = int(input())
        if ((n>=1) &(n<=8)):
            for i in range(1,n+1):
                x = int("1"*i)
                print(" "*((n)-i),x**2)
            print("\r")
        else:
            print("Out of Range!")
else:
    print("Out of Range!")

11

In [1]:
def isPrime(c):
    for i in range(c):
        n = int(input())
        if((n>=2) & (n<=1000)):
            for i in range(2,n):
                if(n%i==0):
                    print("Composite")
                    break
            else:
                print("Prime")
        else:
            print("Out of Range")
T = int(input())
if((T>=1) & (T <= 100)):
    isPrime(T)
else:
    print("Out of Range")

3
7
Prime
8
Composite
1
Out of Range

In [5]:
T = int(input())
for i in range(T):
    n = input()
    ls = [int(x) for x in n.split()]
    if((ls[0]>=1) & (ls[1]<=100)):
        if((ls[1]-ls[0])==9):
            ls1 = []
            for i in range(ls[0],ls[1]+1):
                ls1.append(i)
            print(ls1)
        else:
            print("Difference Not in Range")
    else:
        print("Out of Range")

3
1 9
Difference Not in Range
22 31
[22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
90 103
Out of Range

In [1]:
S = input()
if(S == S[::-1]):
    print("String is a PALINDROME")
else:
    print("String NOT a PALINDROME")

madam
String is a PALINDROME

In [15]:
T = int(input())
N = input()
ls = [int(x) for x in N.split("  ")]
ls2 = []
for i in range(T):
    a = input()
    ls2.append(a)
for j in ls2:
    print(ls[0]jls[1])

SyntaxError: invalid syntax (<ipython-input-15-a8bdfd7c1d33>, line 9)

In [26]:
T = int(input())
N = input()
ls = [int(x) for x in N.split("  ")]
ls2 = []
for i in range(T):
    X = input()
    ls2.append(X)
for i in ls2:
    if(i=="+"):
        print(ls[0]+ls[1])
    elif(i=="-"):
        print(ls[0]-ls[1])
    elif(i=="*"):
        print(ls[0]*ls[1])
    elif(i=="/"):
        print(ls[0]//ls[1])
    else:
        print(ls[0]%ls[1])

5
20  15
+
-
*
/
%
35
5
300
1
5

In [1]:
x = ["ab","cd"]
for i in x:
    i.upper()
print(x)

['ab', 'cd']

In [5]:
import numpy as np
d1 = np.array([[4,6],[5,7]])
d1

array([[4, 6],
       [5, 7]])

In [6]:
d1[:,[1,0]]

array([[6, 4],
       [7, 5]])